header {
	height: 100px;
	background: #fff;
}

header .logo-img {
	height: 90px;
	margin: 5px 0 0 -28px;
}

.navbar-toggler {
	float: right;
	margin: 30px 0;
	display: none;
	padding-bottom: 8px;
}


/*remove border in ff*/
a:focus,
a:active,
a:hover {
    outline: 0;
}

html,
body {
  height: 100%;
  background: #F8F8F8;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

.loader {
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 80px;
}

footer {
  height: 80px;
  margin-top: -80px;
  background: #282828;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(126,146,163,1);
	-moz-box-shadow: 0px 0px 3px 1px rgba(126,146,163,1);
	box-shadow: 0px 0px 3px 1px rgba(126,146,163,1);
}
footer .sub-logo {
	width: 320px;
	text-align: center;
	border-top: 2px solid #2E2E2E;
	color: #555555;
	margin: auto;
	padding-top: 0.7em;
}
@media only screen and (max-width: 480px) {
	footer .sub-logo {
		width: 290px;
	}	
}

#about .container, #skicams .container {
	margin-top: 2em;
}

#about .card, #skicams .card {
	margin-bottom: 2em;
}

#pageMenu {
	border-bottom: 1px solid #F1F1F1;
	background: #fff;
}

#pageMenu .nav-link {
	padding: 0.5rem 0;
	margin: 0 3.2rem -1px 0;
	color: black;
	text-transform: uppercase;
	font-size: 1.2rem;
}

#pageMenu .nav-link:hover {
	border-bottom: 2px solid #F4762B;
}

#pageMenu .nav-link.active {
	color: #F4762B;
	border-bottom: 2px solid #F4762B;
}

@media only screen and (max-width: 480px) {
   .navbar-toggler {
		display: block;
	}
	#pageMenu .nav-link, #pageMenu .nav-link.active, #pageMenu .nav-link:hover {
		margin-bottom: 0;
		border-bottom: 0;
		display: block;
	}
	.nav-item {
		display: block;
		width: 100%;
	}
	#pageMenu .nav-link:hover {
		color: #F4762B;
	}
	#skicams .card .card-date {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 480px) {
	#pageMenu.collapse {
		display: block;
	}	
	
}

#about .card-img-top, #skicams .card-img-bottom {
	height: 250px; width: 100%; display: block;
}

#about .card-body {
	padding: 1.7rem 1.2rem;
}

@media only screen and (min-width: 576px) {
   #about .card-img-top, #skicams .card-img-bottom {
		height: 300px;
	}
}

@media only screen and (min-width: 768px) {
   #about .card-img-top, #skicams .card-img-bottom {
		height: 160px;
	}
}

@media only screen and (min-width: 992px) {
   #about .card-img-top, #skicams .card-img-bottom {
		height: 200px;
	}
}

@media only screen and (min-width: 1200px) {
   #about .card-img-top, #skicams .card-img-bottom {
		height: 225px;
	}
}

#skicams .card-img-bottom {
	height: 325px;
	border-radius: 0;
}
#skicams .card .card-img-bottom:last-of-type {
	border-bottom-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem - 1px);
} 

#skicams .card-body {
	padding: 0.7rem; 
}

#skicams .card .card-date {
	text-align: right;
	font-size: 0.9em;
	margin-bottom: -1em;
	color: #cbcbcb;
}
#skicams .card h3 {
	text-align: center;
}

.message-form {
	max-width: 450px;
	width: 100%;
	background: #fff;
	padding: 40px 40px 20px 40px;
	margin: 2em auto;
}

.message-form .required {
	color: red;
	display: inline-block;
	margin-left: 5px;
}

.message-form .form-control {
	border: none;
	border-bottom: 3px solid #ced4da;
	border-radius: 0;
	padding-left: 0; 
}
.message-form .form-control:focus {
	box-shadow: none;
	border-bottom: 3px solid #F4762B;
}

.message-form .form-group {
	position: relative;
	margin-bottom: 1.7em;
}

.message-form .form-group label {
	position: absolute;
	bottom: 0;
	cursor: text;
	color: #ccc;
}

.message-form .send-btn {
	padding: .375rem 1.5rem;
	margin-top: 15px;
}



@media only screen and (min-width: 480px) {
	#pageContent {
		min-height: 410px;
	}

	#contact {
		position: absolute;
		bottom: 80px;
		left: 0;
		right: 0;
		top: 150px;
		overflow: auto;
		min-height: 400px;
	}

	.message-form {
		position: relative;
		top: 50%;
		transform: perspective(1px) translateY(-50%);
		margin: auto;
		padding: 40px 100px 20px 100px;
	}
}

