header {
	height: 100px;
	background: #fff;
}

header .logo-img {
	height: 65px;
	margin: 20px 0;
}

#pageMenu {
	border-bottom: 1px solid #ccc;
	background: #fff;
}

#pageMenu .nav-link {
	padding: 0.5rem 0;
	margin: 0 2rem -1px 0;
	color: black;
	text-transform: uppercase;
}

#pageMenu .nav-link:hover {
	border-bottom: 2px solid #F4762B;
}

#pageMenu .nav-link.active {
	color: #F4762B;
	border-bottom: 2px solid #F4762B;
}

html,
body {
  height: 100%;
  background: #eee;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 80px;
}
footer {
  height: 80px;
  margin-top: -80px;
  background: darkgray;
  padding: 20px;
}

footer .sub-logo {
	width: 150px;
	text-align: center;
	border-top: 1px solid #fff;
	color: #fff;
	margin: auto;
	padding-top: 1em;
}


#about .card-img-top {
	height: 225px; width: 100%; display: block;
}

#about .container {
	margin-top: 2em;
}

#about .card {
	margin-bottom: 2em;
}

.message-form {
	max-width: 350px;
	background: #fff;
	padding: 30px 40px;
	margin: 2em auto;
}

.message-form .required {
	color: red;
}

.message-form .form-control {
	border: none;
	border-bottom: 3px solid #ced4da;
	border-radius: 0;
	padding-left: 0; 
}
.message-form .form-control:focus {
	box-shadow: none;
	border-bottom: 3px solid #F4762B;
}

.message-form .form-group {
	position: relative;
}

.message-form .form-group label {
	position: absolute;
	bottom: 0;
	cursor: text;
}

