header {
	height: 100px;
	background: #fff;
}

header .logo-img {
	height: 65px;
	margin: 20px 0;
}

#pageMenu {
	border-bottom: 1px solid #ccc;
	background: #fff;
}

#pageMenu .nav-link {
	padding: 0.5rem 0;
	margin: 0 2rem -1px 0;
	color: black;
	text-transform: uppercase;
}

#pageMenu .nav-link:hover {
	border-bottom: 2px solid #F4762B;
}

#pageMenu .nav-link.active {
	color: #F4762B;
	border-bottom: 2px solid #F4762B;
}

html,
body {
  height: 100%;
  background: #eee;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 80px;
}
footer {
  height: 80px;
  margin-top: -80px;
  background: darkgray;
  padding: 20px;
}

footer .sub-logo {
	width: 150px;
	text-align: center;
	border-top: 1px solid #fff;
	color: #fff;
	margin: auto;
	padding-top: 1em;
}


